In [1]:
import pandas as pd

try:
#reading csv file
    data = pd.read_csv('uae_used_cars_10k.csv')
    data.head()
    
except FileNotFoundError as e :
    print(e)

In [2]:
#dropping duplicates
data.drop_duplicates()

,Make,Model,Year,Price,Mileage,Body Type,Cylinders,Transmission,Fuel Type,Color,Location,Description
0,toyota,camry,2016,47819,156500,Sedan,4,Automatic Transmission,Gasoline,Black,Dubai,"2016 toyota camry with Rear camera, Leather se..."
1,kia,sorento,2013,61250,169543,SUV,4,Automatic Transmission,Gasoline,Grey,Abu Dhabi,"2013 kia sorento with Sunroof, Adaptive cruise..."
2,mini,cooper,2023,31861,221583,Soft Top Convertible,4,Automatic Transmission,Gasoline,Grey,Dubai,"2023 mini cooper with Adaptive cruise control,..."
3,nissan,altima,2016,110322,69754,Sedan,4,Automatic Transmission,Gasoline,Red,Dubai,"2016 nissan altima with Rear camera, Adaptive ..."
4,toyota,land-cruiser-76-series,2020,139994,71399,Pick Up Truck,4,Manual Transmission,Gasoline,White,Dubai,2020 toyota land-cruiser-76-series with Adapti...
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,tesla,model-3,2018,273413,76920,Sedan,NaN,Automatic Transmission,Electric,White,Dubai,"2018 tesla model-3 with Bluetooth, Sunroof, Le..."
9996,audi,a3,2022,80053,258150,Sedan,4,Automatic Transmission,Gasoline,Red,Dubai,"2022 audi a3 with Sunroof, Bluetooth, Rear cam..."
9997,toyota,prado,2014,183381,80525,SUV,6,Automatic Transmission,Gasoline,White,Dubai,"2014 toyota prado with Rear camera, Adaptive c..."
9998,peugeot,expert,2016,40876,288305,Utility Truck,4,Automatic Transmission,Diesel,White,Dubai,"2016 peugeot expert with Navigation system, Re..."
9999,mercedes-benz,c-class,2009,150261,283648,Sedan,4,Automatic Transmission,Gasoline,White,Dubai,"2009 mercedes-benz c-class with Rear camera, N..."

In [3]:
#checking for null values
no_of_missing_values = data.isnull().sum()
print(no_of_missing_values)

Make              0
Model             0
Year              0
Price             0
Mileage           0
Body Type         0
Cylinders       105
Transmission      0
Fuel Type         0
Color             0
Location          0
Description       0
dtype: int64

In [4]:
#Normalizing data formats (Converting String to int)
data['Cylinders'] = pd.to_numeric(data['Cylinders'], errors='coerce')
print(data['Cylinders'].dtype)
print(data['Cylinders'])

float64
0       4.0
1       4.0
2       4.0
3       4.0
4       4.0
       ...
9995    NaN
9996    4.0
9997    6.0
9998    4.0
9999    4.0
Name: Cylinders, Length: 10000, dtype: float64

In [5]:
#filling missing values
data['Cylinders'].fillna(data['Cylinders'].mean())

0       4.000000
1       4.000000
2       4.000000
3       4.000000
4       4.000000
          ...
9995    6.220315
9996    4.000000
9997    6.000000
9998    4.000000
9999    4.000000
Name: Cylinders, Length: 10000, dtype: float64

In [6]:

filtered_data = data[(data['Mileage'] != 0) & (data['Year'] < 2025)]
print(filtered_data)

               Make                   Model  Year   Price  Mileage  \
0            toyota                   camry  2016   47819   156500
1               kia                 sorento  2013   61250   169543
2              mini                  cooper  2023   31861   221583
3            nissan                  altima  2016  110322    69754
4            toyota  land-cruiser-76-series  2020  139994    71399
...             ...                     ...   ...     ...      ...
9995          tesla                 model-3  2018  273413    76920
9996           audi                      a3  2022   80053   258150
9997         toyota                   prado  2014  183381    80525
9998        peugeot                  expert  2016   40876   288305
9999  mercedes-benz                 c-class  2009  150261   283648

                 Body Type  Cylinders            Transmission Fuel Type  \
0                    Sedan        4.0  Automatic Transmission  Gasoline
1                      SUV        4.0  Automatic Transmission  Gasoline
2     Soft Top Convertible        4.0  Automatic Transmission  Gasoline
3                    Sedan        4.0  Automatic Transmission  Gasoline
4            Pick Up Truck        4.0     Manual Transmission  Gasoline
...                    ...        ...                     ...       ...
9995                 Sedan        NaN  Automatic Transmission  Electric
9996                 Sedan        4.0  Automatic Transmission  Gasoline
9997                   SUV        6.0  Automatic Transmission  Gasoline
9998         Utility Truck        4.0  Automatic Transmission    Diesel
9999                 Sedan        4.0  Automatic Transmission  Gasoline

      Color    Location                                        Description
0     Black       Dubai  2016 toyota camry with Rear camera, Leather se...
1      Grey   Abu Dhabi  2013 kia sorento with Sunroof, Adaptive cruise...
2      Grey       Dubai  2023 mini cooper with Adaptive cruise control,...
3       Red       Dubai  2016 nissan altima with Rear camera, Adaptive ...
4     White       Dubai  2020 toyota land-cruiser-76-series with Adapti...
...     ...         ...                                                ...
9995  White       Dubai  2018 tesla model-3 with Bluetooth, Sunroof, Le...
9996    Red       Dubai  2022 audi a3 with Sunroof, Bluetooth, Rear cam...
9997  White       Dubai  2014 toyota prado with Rear camera, Adaptive c...
9998  White       Dubai  2016 peugeot expert with Navigation system, Re...
9999  White       Dubai  2009 mercedes-benz c-class with Rear camera, N...

[10000 rows x 12 columns]

In [7]:
import mysql.connector

conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "used_cars_dataset"
)
cursor = conn.cursor()

In [8]:
from sqlalchemy import create_engine

engine = create_engine("mysql+mysqlconnector://root:root@localhost/used_cars_dataset")
print(data.columns)
print(data.dtypes)
data.columns = ['Make', 'Model', 'Year', 'Price', 'Mileage', 'BodyType',
	'Cylinders', 'Transmission', 'FuelType', 'Color', 'Location', 'Description']

Index(['Make', 'Model', 'Year', 'Price', 'Mileage', 'Body Type', 'Cylinders',
       'Transmission', 'Fuel Type', 'Color', 'Location', 'Description'],
      dtype='object')
Make             object
Model            object
Year              int64
Price             int64
Mileage           int64
Body Type        object
Cylinders       float64
Transmission     object
Fuel Type        object
Color            object
Location         object
Description      object
dtype: object

In [9]:
data.to_sql('used_cars', con=engine, if_exists='replace', index=False)

10000

In [10]:
#top 10 most listed car models
cursor.execute("select Make, Model, count(*) as cnt from used_cars group by make, model order by cnt DESC LIMIT 10")
res = cursor.fetchall()
df = pd.DataFrame(res, columns=['Make', 'Model', 'cnt'])
print(df)

            Make              Model  cnt
0         nissan             patrol  386
1  mercedes-benz            s-class  273
2  mercedes-benz            g-class  257
3         toyota       land-cruiser  208
4     land-rover  range-rover-sport  198
5  mercedes-benz            c-class  195
6  mercedes-benz            e-class  191
7     land-rover        range-rover  187
8        porsche            cayenne  172
9     mitsubishi             pajero  161

In [11]:
#transmission types and fueltypes
cursor.execute("select Transmission, FuelType from used_cars group by Transmission, FuelType")
res = cursor.fetchall()
df = pd.DataFrame(res, columns=['Transmission', 'FuelType'])
print(df)

             Transmission  FuelType
0  Automatic Transmission  Gasoline
1     Manual Transmission  Gasoline
2  Automatic Transmission    Diesel
3  Automatic Transmission    Hybrid
4     Manual Transmission    Diesel
5  Automatic Transmission  Electric
6     Manual Transmission    Hybrid

In [15]:
#best 10 cars based on price to mileage ratio
cursor.execute("select Make, Model, Price/Mileage as ratio from used_cars WHERE Mileage>0 ORDER BY ratio ASC LIMIT 10")
res = cursor.fetchall()
df = pd.DataFrame(res, columns=['Make', 'Model', 'ratio'])
print(df)

         Make    Model   ratio
0      nissan   altima  0.0245
1     hyundai      i10  0.0375
2        ford   escape  0.0384
3  mitsubishi   lancer  0.0404
4      nissan   murano  0.0414
5    infiniti     qx56  0.0418
6      toyota    camry  0.0440
7      nissan   murano  0.0442
8   chevrolet     aveo  0.0444
9         kia  sorento  0.0445

In [16]:
#top 10 cars offering best resale value
cursor.execute("select Make, Model, (Price/(YEAR(NOW())-Year)) as resale_value from used_cars ORDER BY resale_value DESC LIMIT 10")
res = cursor.fetchall()
df = pd.DataFrame(res, columns=['Make', 'Model', 'resale_value'])
print(df)

            Make           Model  resale_value
0        ferrari             599  4197282.0000
1        mclaren              p1  2937395.0000
2        ferrari   sf90-stradale  2766551.0000
3    rolls-royce        cullinan  2407362.0000
4        ferrari      488-spider  2257696.0000
5    rolls-royce        cullinan  2123638.0000
6    rolls-royce           ghost  2068013.0000
7        bentley  continental-gt  1749867.0000
8    rolls-royce        cullinan  1653830.0000
9  mercedes-benz         g-class  1574901.0000

In [17]:
#most affordable cars
cursor.execute("select Make, Model, AVG(Price) as avg_price from used_cars GROUP BY Make, Model ORDER BY avg_price LIMIT 10")
res = cursor.fetchall()
df = pd.DataFrame(res, columns=['Make', 'Model', 'avg_price'])
print(df)

            Make       Model   avg_price
0           ford      mondeo   8128.0000
1      chevrolet       optra  10468.3333
2        hyundai         i10  11145.5000
3        peugeot       206cc  12345.0000
4       chrysler  pt-cruiser  12986.5000
5         toyota       crown  13876.0000
6        lincoln    town-car  13938.0000
7  mercedes-benz   clk-class  14609.0000
8         toyota       scion  14800.5000
9     volkswagen         eos  16135.0000

In [44]:
#custom query
try : 
    while True:
        print("enter 1 to input query")
        print("enter 2 to exit")
        inp = int(input())
        if inp == 1:
            print("column names present in dataset are :",data.columns)
            query = input("enter a query to get the data(table-name:used_cars):")
            cursor.execute(query)
            res = cursor.fetchall()
            df = pd.DataFrame(res, columns=['Make', 'Model', 'Year', 'Price', 'Mileage', 'BodyType',
	'Cylinders', 'Transmission', 'FuelType', 'Color', 'Location', 'Description'])
            print(df)
        else:
            break;
except Exception as e :
    print(e)

enter 1 to input query
enter 2 to exit

 1

column names present in dataset are : Index(['Make', 'Model', 'Year', 'Price', 'Mileage', 'BodyType', 'Cylinders',
       'Transmission', 'FuelType', 'Color', 'Location', 'Description'],
      dtype='object')

enter a query to get the data(table-name:used_cars): select * from used_cars LIMIT 10;

            Make                   Model  Year   Price  Mileage  \
0         toyota                   camry  2016   47819   156500
1            kia                 sorento  2013   61250   169543
2           mini                  cooper  2023   31861   221583
3         nissan                  altima  2016  110322    69754
4         toyota  land-cruiser-76-series  2020  139994    71399
5      chevrolet               silverado  2010   43194   233934
6      chevrolet                  camaro  2024   94100   147140
7       cadillac                     srx  2024   30047    51876
8  mercedes-benz                 g-class  2009  603574    32956
9       infiniti                     q50  2013   49531    11954

               BodyType  Cylinders            Transmission  FuelType   Color  \
0                 Sedan        4.0  Automatic Transmission  Gasoline   Black
1                   SUV        4.0  Automatic Transmission  Gasoline    Grey
2  Soft Top Convertible        4.0  Automatic Transmission  Gasoline    Grey
3                 Sedan        4.0  Automatic Transmission  Gasoline     Red
4         Pick Up Truck        4.0     Manual Transmission  Gasoline   White
5         Pick Up Truck        8.0  Automatic Transmission  Gasoline   Brown
6                 Coupe        8.0  Automatic Transmission  Gasoline  Silver
7                   SUV        6.0  Automatic Transmission  Gasoline    Gold
8                   SUV        8.0  Automatic Transmission  Gasoline   Black
9                 Sedan        4.0  Automatic Transmission  Gasoline   White

     Location                                        Description
0       Dubai  2016 toyota camry with Rear camera, Leather se...
1   Abu Dhabi  2013 kia sorento with Sunroof, Adaptive cruise...
2       Dubai  2023 mini cooper with Adaptive cruise control,...
3       Dubai  2016 nissan altima with Rear camera, Adaptive ...
4       Dubai  2020 toyota land-cruiser-76-series with Adapti...
5       Dubai  2010 chevrolet silverado with Navigation syste...
6       Dubai  2024 chevrolet camaro with Leather seats, Sunr...
7   Abu Dhabi  2024 cadillac srx with Rear camera, Adaptive c...
8       Dubai  2009 mercedes-benz g-class with Navigation sys...
9       Dubai  2013 infiniti q50 with Sunroof, Leather seats....
enter 1 to input query
enter 2 to exit

 2